@import "src/custom-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin {
  margin: 20px;
}
.no-margin-bottom {
  margin-bottom: 0;
}
