@use "@angular/material" as mat;
@include mat.core();

$colors: (
  primary: (
    100: #f67280,
    500: #f67280,
    700: #c06c84,
    contrast: (
      50: #707070,
      100: #707070,
      200: #707070,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #707070,
      A200: #707070,
      A400: #ffffff,
      A700: #ffffff,
    ),
  ),
  accent: (
    100: #6c5b7b,
    500: #6c5b7b,
    700: #6c5b7b,
    contrast: (
      50: #707070,
      100: #707070,
      200: #707070,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #707070,
      A200: #707070,
      A400: #ffffff,
      A700: #ffffff,
    ),
  ),
  warn: (
    100: #355c7d,
    500: #355c7d,
    700: #355c7d,
    contrast: (
      50: #707070,
      100: #707070,
      200: #707070,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #707070,
      A200: #707070,
      A400: #ffffff,
      A700: #ffffff,
    ),
  ),
);

$primary: mat.define-palette(map-get($colors, "primary"));
$accent: mat.define-palette(map-get($colors, "accent"));
$warn: mat.define-palette(map-get($colors, "warn"));
