<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="Nationalitaet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationalität</th>
      <td mat-cell *matCellDef="let element">{{ element.Nationalitaet }}</td>
    </ng-container>
    <ng-container matColumnDef="Verein">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Verein</th>
      <td mat-cell *matCellDef="let element">{{ element.Verein }}</td>
    </ng-container>
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let element">{{ element.Position }}</td>
    </ng-container>
    <ng-container matColumnDef="Alter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alter</th>
      <td mat-cell *matCellDef="let element">{{ element.Alter }}</td>
    </ng-container>
    <ng-container matColumnDef="Gehalt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Gehalt (Wöchentlich)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Gehalt }}</td>
    </ng-container>
    <ng-container matColumnDef="Endet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vertragsende</th>
      <td mat-cell *matCellDef="let element">{{ element.Endet }}</td>
    </ng-container>
    <ng-container matColumnDef="Wert">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Marktwert</th>
      <td mat-cell *matCellDef="let element">{{ element.Wert }}</td>
    </ng-container>
    <ng-container matColumnDef="GesEins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Einsätze (Karriere)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.GesEins || "0" }}</td>
    </ng-container>
    <ng-container matColumnDef="ToreGes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tore (Karriere)</th>
      <td mat-cell *matCellDef="let element">{{ element.ToreGes || "0" }}</td>
    </ng-container>
    <ng-container matColumnDef="Lsp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Länderspiele</th>
      <td mat-cell *matCellDef="let element">{{ element.Lsp || "0" }}</td>
    </ng-container>
    <ng-container matColumnDef="Tore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Länderspieltore</th>
      <td mat-cell *matCellDef="let element">{{ element.Tore || "0" }}</td>
    </ng-container>
    <ng-container matColumnDef="Transfereinkommen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Transfersummen (Gesamt)
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Transfereinkommen || "0" }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"
></mat-paginator>
