<mat-toolbar color="warn">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        fxHide.gt-sm
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Football manager {{ currentGameState?.season }}</span>
    </div>
    <div fxHide.lt-md>
      <button mat-button>History</button>
      <button mat-button>Statistics</button>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" fxHide.gt-sm autosize
  ><mat-drawer #drawer class="sidenav" mode="side">
    <div fxLayout="column" fxLayoutGap="20px">
      <p>Auto-resizing sidenav</p>
      <button mat-raised-button>History</button>
      <button mat-raised-button>Statistics</button>
    </div>
  </mat-drawer></mat-drawer-container
>
