@use "../styles/variables/colors.scss" as colors;
@use "@angular/material" as mat;

div {
  background-color: mat.get-color-from-palette(colors.$primary);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
  z-index: 999;
}
